/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
	.main-menu ul li {
		margin-left: 0;
	}

}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
	.main-menu ul li {
		margin-right: 25px;
	}

	.banner-area {
		min-height: 700px;
	}

	.about-content {
		margin-top: 0;
	}

	.team-social i {
		width: 30px;
		height: 30px;
		line-height: 30px;
	}

	.client-content {
		margin-left: 20px;
	}

	.widget-gallery img {
		width: 60px;
		height: 60px;
	}

}


/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
	.header-form {
		margin-bottom: 10px;
	}
}


/* Extra small Device. */
@media (max-width: 767px) {
	.banner-area {
		min-height: 500px;
	}

	.banner-content h1 {
		font-size: 25px;
		line-height: 1.3;
		padding-top: 0;
		padding-bottom: 0;
	}

	.banner-btn {
		padding: 5px 10px;
		display: inline-block;
		margin-bottom: 20px;
	}

	.mean-container a.meanmenu-reveal {
		top: -12px;
	}

	.header-form {
		display: none;
	}

	.banner-content {
		margin-top: 100px;
	}

	.banner-content h4 {
		font-size: 18px;
	}

	.client-image {
		display: inherit;
		vertical-align: middle;
	}

	.single-partners {
		width: auto;
		margin-bottom: 10px;
	}

	.header-form.subscribe-form {
		display: inherit;
	}

	.client-content {
		margin-left: auto;
	}

	.section-heading h4 {
		font-size: 20px;
	}

	.single-widget h6 {
		margin-bottom: 20px;
		margin-top: 30px;
	}

	.copyright-area p {
		text-align: center;
	}

	.copy-social {
		text-align: center;
		margin-top: 20px;
	}
}

/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {}